<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlurEffectWithMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B88DC331DED44D4008CC522</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B88DC4C1DED44D4008CC522</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B88DC571DED44D4008CC522</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
